<html>

<head>
    <title>monitor grid</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr 0.5fr 1.9fr;
            grid-template-rows: 0.8fr 0.3fr 0.3fr 0.3fr 0.3fr 4fr;
            gap: 0px 0px;
        }

        .grid-item {
            background-color: #fcfcfc;
            border: 1px solid;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="grid-container" style="border: 1px solid;">
            <div class="grid-item">0,0</div>
            <div class="grid-item">acp</div>
            <div class="grid-item"></div>
            <div class="grid-item">item</div>
            <div class="grid-item">alerts</div>
            <div class="grid-item"></div>
            <div class="grid-item">item</div>
            <div class="grid-item">item</div>

            <div class="grid-item">blotter</div>
            <div class="grid-item">item</div>
            <div class="grid-item">item</div>
            <div class="grid-item">item</div>


            <div class="grid-item">tac</div>
            <div class="grid-item">item</div>
            <div class="grid-item">item</div>
            <div class="grid-item">item</div>
        </div>

    </div>
</body>

</html>